.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
}

.cont {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo img {
    width: 100px;
}

.footer__social {
    font-size: 20px;
}

.footer__social-icon {
    color: #ffffff;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.footer__social-icon:hover {
    color: #ff0000;
}

.footer__contact-icon:hover {
    border-left: #ff0000;
    color: #ff0000;
}

.footer__info {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer__content {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 20px;
    }
}

hr {
    color: #ff0000;
}