h2 {
    padding: 1rem;
}

/* .table {
    border: .5rem solid #a200ff;
} */

tbody {
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ffee00;
    padding: 8px;
    text-align: center;
}

.table th {
    color: #fff;
    background-color: #000000;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
    }
}


tbody {
    font-size: 90%;
    font-style: italic;
}

tfoot {
    font-weight: bold;
}